/#ido.last#
/#init.el#
/auto-save-list/
/custom.el~
/emojis/
/ido.last
/ido.last~
/recentf
/recentf~
/tramp
/url/
/user-lisp/custom-functions.el~
/transient/
/user-lisp/erc-config.el

/elpa/
/custom.el
